aiogram==3.22.0
aiohttp==3.9.5  # For async HTTP requests
python-dotenv==1.0.1
geoip2==4.8.0
requests==2.31.0 # Although we use aiohttp now, good to keep
pysocks==1.7.1
colorama==0.4.6
tqdm==4.65.0
keyboard==0.13.5
